<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>The home page <%= 4+5+34 %>
    </h1>
    <span>
        <%= 'hello world' .toUpperCase() %>
    </span>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ut quos quidem odit eos! Maiores, provident totam
        eum, quasi amet labore necessitatibus, doloremque rem corrupti minus quae magnam hic aliquam sequi laboriosam
        aperiam consequuntur adipisci. Corrupti incidunt cum placeat totam minus laboriosam a quibusdam nobis distinctio
        nihil, mollitia reprehenderit ut quod expedita sapiente maiores voluptatum tenetur odio officiis enim voluptatem
        ullam. Id, at deleniti. Inventore a ab laboriosam dignissimos omnis voluptatem eaque iste aut provident? Minima
        deleniti ab tempora excepturi laborum blanditiis, esse distinctio vitae, ratione consequuntur itaque
        necessitatibus quidem adipisci omnis delectus! Temporibus deleniti, natus soluta ab eveniet eos?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero rerum enim obcaecati voluptatibus reiciendis
        accusantium mollitia consequatur consequuntur provident unde, nobis quas minus qui eius. Dicta debitis placeat
        dolorum perferendis sint odio magnam enim.</p>
</body>

</html>